/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .nav,
  .serviceArea,
  .aboutArea,
  .blogPostArea__content,
  .practiceArea,
  .testmonialArea,
  .attorneysArea,
  .blogArea,
  .teamArea__wrapper,
  .footer__container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}

@media screen and (max-width: 961px) {
  .nav {
    &__menu {
      display: block;
    }
  }

  .hero__slider__content h1 {
    font-size: 2rem !important;
    line-height: 3rem !important;
  }

  .blogPostArea__content,
  .testmonialArea__content,
  .aboutArea__container,
  .contactArea__container {
    grid-template-columns: 1fr !important;
    place-items: center;
  }
  .teamArea__wrapper,
  .banner__content,
  .practiceArea__content,
  .blogArea__content,
  .serviceArea__content,
  .bannerTwoArea__content {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .contactArea {
    margin-bottom: 15rem;
  }

  .footer__topArea__content {
    grid-template-columns: 1fr !important;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    &__menu {
      top: -5rem;
    }
    &__toggle {
      display: block !important;
    }
  }
  .contactPageArea__container,
  .blogArea__content {
    grid-template-columns: 1fr !important;
  }

  .slick-hero-next,
  .slick-hero-prev {
    display: none;
  }

  .dropdown {
    &__link {
      display: flex;
      align-items: center;
      justify-content: center !important;
    }

    &__icon {
      font-size: 0.5rem;
      transition: 0.5s;
    }

    &__menu {
      background-color: transparent !important;
      position: initial !important;
      box-shadow: none !important;
      overflow: hidden;
      padding: 0 !important;
      max-height: 0;
      opacity: 0;
      transition: max-height 500ms, opacity 300ms;
      -webkit-transition: max-height 500ms, opacity 300ms;
      text-align: center !important;
      line-height: 2rem;
    }

    &:hover > &__menu {
      max-height: 500px;
      opacity: 1;
      transition: max-height 0, opacity 300ms;
      -webkit-transition: max-height 0, opacity 300ms;
    }

    &:hover &__icon {
      transform: rotate(180deg);
    }
  }
}

@media screen and (max-width: 576px) {
  .blogArea__container {
    margin-top: 11rem;
  }
  .teamArea__wrapper,
  .bannerTwoArea__content,
  .banner__content,
  .practiceArea__content,
  .blogArea__content,
  .serviceArea__content {
    grid-template-columns: 1fr !important;
  }
}
