/* ABOUT AREA*/
.aboutArea {
  &__container {    
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  &__image {    
    width: 100%;
    position: relative;
   
    &::before {
      content: "";
      background-color: var(--color-gold);
      width: 100%;
      height: 100%;
      position: absolute;
      left: -20px;
      top: -20px;
      z-index: -1;
    }
  }

  &__content {
    h1 {
      font-size: var(--biggest-font-size);
      font-weight: var(--font-bold);
      color: var(--title-color);
      margin-bottom: var(--mb-2);
    }
    p {
      font-size: var(--normal-font-size);
      font-weight: normal;
      color: var(--text-color);
      line-height: 1.8rem;
      margin-bottom: 2rem;
      font-weight: var(--font-semi-bold);
    }
  }
}
